<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="site/css/styles.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{caption}}</h1>
      <img src="site/images/nekoneko2.png" alt="Neko" width="300" />
    </div>
  </body>
</html>